*.o
build/
**/pcsx2/
*.so
.ipynb_checkpoints/
.vscode/
CMakeCache.txt
CMakeFiles/
Slot 1/
Slot 2/
User/
cmake_install.cmake
*.dll
*.exp
*.ilk
*.lib
*.pdb
*.pyd
_retro.*
third-party/
*.a
**/__pycache__/*
sdlarch_rl/roms/**/rom.*
*.egg-info
videos/

# Visual Studio
*.vcxproj*
*.sln
*.dir

# trainning
model*
tensorboard*